apiVersion: v1
kind: Secret
metadata:
  name: {{ include "rulebricks-chart.app.secret" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "rulebricks-chart.labels" . | nindent 4 }}
type: Opaque
stringData:
  LICENSE_KEY: "{{ .Values.global.licenseKey | default .Values.app.licenseKey }}"
  EMAIL: "{{ .Values.global.email | default .Values.app.email }}"
