apiVersion: v1
kind: Service
metadata:
  name: {{ include "rulebricks-chart.redis.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "rulebricks-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    app.kubernetes.io/name: {{ include "rulebricks-chart.redis.fullname" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
