apiVersion: v1
kind: Service
metadata:
  name: {{ include "rulebricks-chart.serverless-redis-http.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "rulebricks-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: serverless-redis-http
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "rulebricks-chart.serverless-redis-http.fullname" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
